*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: #0000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header h1{
    color: #dc3545;
    font-size: 2.5em;
}
header span{
    color: white;
}
header .navegacao-primaria{
    display: flex;
    gap: 10px;
    align-items: center;

} 
header .navegacao-primaria li a{
    padding: 10px;
    color: white;
    font-size: 1.3em;
}

