
:root{
    --cor01: #233a63;
    --cor02: #497DDE;
    --cor03: #053591;
    --cor04: #365CA4;
    --cor05: #0752DE;
}
body{
    background-image: linear-gradient(to bottom, rgb(34, 34, 34), rgb(22, 22, 22));
 }
header{

    
}
main{
    font-weight: bold;
    color: white;
    font-size: 2em;
    margin: auto;
    width: 1000px;
    height: 500px;

}

.container {
    overflow: hidden;
  }
.container1{
    overflow: hidden;
    width: 10%;
}

  .paragrafo {
    width: 420px;
    text-align: center;
    float: left;
    margin: auto;
    padding-top: 100px;
  }
img { 
    margin-top:  20px;
    width: 40%;
    margin-left: 20px;
  }
article{
    background-color: rgb(44, 44, 44);
    display: flex;
    height: 800px;

}
.container0{
    background-color: rgba(0, 0, 0, 0.403);
    flex: 1;
    height: 600px;
    width: 400px;
}
.container1{
    flex: 1;
    height: 600px;
    width: 00px;
    margin: 5px;
}
.container0 > img{
    width: 80%;

    

}
.container1{
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.215);
}
.container1> .paragrafo1{
    font-size: 1.2em;
    overflow: hidden;
    color: white;
    float: right;
    padding-top: 35px;
    padding-right: 400px;
}
.container1 >img{
    width: 10%;
    padding-top: 30px;
    margin: auto;
    
}